.topnav {
background-color: #073177  ;
overflow: hidden;
}
/*STYLE THE LINKS INSIDE THE NAVIGATION BAR*/
.topnav a {
color: #E4E4E4 ;
text-align:center;
padding: 14px 16px;
text-decoration:none;
font-size: 17px;
}
/*CHANGE THE COLOR ON LINKS ON HOVER*/
.topnav a:hover {
background-color: hotpink;
color:white;
}
/*ADD A COLOR TO THE ACTIVE/CURRENT LINK*/
.topnav a.active {
background-color:#00FFFF ;
color: cyan;
}
.button {
  background-color: #FF69B4;
  border: #00FFFF;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
 {
  box-sizing: border-box;
     color: hotpink;
     width: auto;
}
                 .title{ 
         margin-bottom: 10px; 
         text-align:center; 
         width: 210px; 
         color:white; 
         border: solid black 1; 
         } 
  
         input[type="button"] 
         { 
         background-color:hotpink; 
         color: white; 
         border: 2px; 
         width:100% 
         }
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
#myInput {
  background-position: 5px 15px;
  background-repeat: no-repeat;
  width: 94%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #000000;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 5px solid #00FFFF;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color:black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #E1E1E1 ;
}
.footer {
left:0;
bottom:0;
width: 100%;
background-color:RGBA(241,236,236);
color:darkcyan;
text-align:left;
}